---
import Heading from './heading.astro'
import AppLayout from '../../../components/bloglayout.astro'
import Image from '$core/components/image.astro'
import Navbar from '../../../components/Navbar.astro'
import Footer from '../../../components/Footer.astro'

import type { CollectionEntry } from 'astro:content'

export interface Props {
  blog: CollectionEntry<'blog'>
  minutesRead: string
}

const { slug, data } = Astro.props.blog
const { banner, title, subtitle } = data
---

<AppLayout title={title} description={subtitle} image={banner.url}>
  <Navbar />

  <div class="mx-auto max-w-4xl pt-6">
    <div
      class="overflow-hidden rounded-none bg-white shadow-xl sm:rounded-2xl "
      style={`view-transition-name: blog-${slug}`}
    >
      <div class="flex items-center justify-center overflow-hidden">
        <Image
          src={banner.url}
          width="full"
          height="auto"
          placeholder={banner.placeholder}
          alt="cover"
          fetchPriority="high"
        />
      </div>
      <div class="px-4 py-8 sm:px-6 lg:px-8">
        <Heading {...Astro.props} />

        <article
          class="prose prose-blue mx-auto max-w-6xl pt-6 text-2xl"
        >
          <slot />
        </article>
      </div>
    </div>
    <Footer />
  </div>
</AppLayout>
